
#hero {
    background-color: #fff;
    background-image: url(../img/second_layer.d915c7ae.svg),url(../img/first_layer.24cd5ddd.svg);
    background-size: 40%,55%;
    background-repeat: no-repeat,no-repeat;;
    background-position: 100% 0,100% 0;
    background-position-x: 100%, 100%;
    background-position-y: 0px, 0px;
    
    .no-overlay {
        display: none;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 10;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 961px ){
            .nav__list {
                flex-direction: column;
            }
        }

        a {
            &:not(.btn) {
                height: 40px;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(44,23,106,.3);
            z-index: -10;
        }

        .nav__list {
            width: 100%;
            padding: 0;
        }

        .nav__item {
            font-size: 1.25em;
            height: 3em;
            align-items: center;
            display: flex;
            width: 100%;
            justify-content: center;
            transition: background 200ms ease-in-out;
            margin: 0 1.5em 1.5em;

            a {
                color: white;
                text-decoration: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                &:not(.btn):hover {
                    background-color: rgba(255, 255, 255, .25);
                }

                &.btn {
                    width: fit-content;
                }
            }
        }
    }

    .content-box {
        margin: 4.5em 1.5em 0;
        padding: 2.5em 2.5em 16em;
        margin-bottom: 12em;
     
        position: relative;

        .page-section__text {
            font-size: 1.25em;
        }
        
        .btn {
            margin: auto;
        }

        @media screen and (min-width: 961px ){
            padding: 5.5em 5.5em 32em;
            margin-bottom: 20em;
        }

        .academy-preview {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
        }
    }

    .nav {
        width: 100%;
        z-index: 10;
        
        &-transparent { 
            background-color: transparent;
        }

        &-colored {
            position: fixed;
            background-color: white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
            height: 60px; 
            
            .nav__list {    
                .logo {
                    height: 3em;
                }

                .nav__item {
                    a {
                        color: #425468;
                    }

                    a.btn {
                        border-color: var(--primary-color);
                        color: var(--primary-color-2);
                    }
                }
            }
        }

        &__list {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            z-index: 20;
            padding: 0 1.5em;

            @media screen and (max-width: 960px) {
                padding: 0 1.5em;
            }
            
            &.overlay-mode {
                .nav__item { 
                    display: none;
                }
            }

            &.active {
                .nav__item {
                    display: flex;
                    width: 100%;
                }
            }

            .logo {
                margin: 0.5em;
                margin-inline-start: auto;
                height: 5em;

                img {
                    height: 100%;
                }
            }

            .toggle {
                order: 0;
                z-index: 20;
                
                svg {
                    width: 2em;
                    height: 2em;
                    fill: white;
                }

                &--on-bg {
                    svg {
                        fill: var(--primary-color);
                    }
                }
            }

            .nav__item {    
                order: 1;
                width: 100%;
                text-align: center;
                display: none;

                .btn {
                    order: 2;
                }
               
                a {
                    color: white;
                    text-decoration-line: none;
                    font-weight: 700;
                    font-size: .75em;

                    &:not(.btn) {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 1.5em;
                        transition: .3s cubic-bezier(.25,.8,.5,1);
                        border-radius: 2em;
                        overflow: hidden;

                        &:hover {
                            background-color: rgba(255, 255, 255, .12);
                        }
                    }
                }
           }

            // Tablet
            @media screen and (min-width: 769px) {
                justify-content: center;

                .logo {
                    order: 2;
                }

                .nav__item.btn {
                    width: auto;
                    order: 1;
                    display: block;
                }

                .toggle {
                    flex: 1;
                    text-align: right;
                    order: 0;
                }
            }

            // Desktop
            @media screen and (min-width: 961px) {
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
                background: none;

                .nav__item {
                    order: 1;
                    position: relative;
                    display: block;
                    width: auto ;

                    a {
                        &:not(.btn) {
                            height: 40px;
                        }
                    }
                }

                .toggle { display: none;}

                .logo {
                    order: 2;
                }
                
                .nav__item.btn {
                    order: 2;
                }
            }

        }
    }
}

.page-section {
    padding: 4.5em 0;
}

#testimonials {
    
    .testimonials-list {
        display: flex;
        justify-content: center;
        background: radial-gradient(50% 50%, rgba(234, 214, 255, 0.25), transparent);
        flex-wrap: wrap;

        // Small (small to medium tablet)
        @media screen and (min-width: 960px) {
            .testimonial { flex: 0 0 46%; }
        }

        // Large (Desktops)
        @media screen and (min-width: 1264px) {
            .testimonial { flex: 0 0 30%; }
        }

        .testimonial {
            margin: 1em;
            display: flex;
            flex-direction: column;
            
            &__footer {
                margin-top: auto;
            }
        }
    }
}

// Coretabs Features
#coretabs-features {
    margin-top: 10em;
    margin-bottom: 4.5em;

    .skew-box {
        position: relative;
        
        .particle {
            position: absolute;
            background: -webkit-gradient(linear,left top,right top,from(#8855ea),to(#3044e7));
            background: linear-gradient(90deg,#8855ea,#3044e7);
            width: 100%;
            height: 475px;
            -webkit-transform: skewY(-10deg) translateY(-100px);
            transform: skewY(-10deg) translateY(-100px);
            z-index: -1;
        }
    }

    .comparing-graphic {
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 960px)  {
            flex-wrap: wrap;

            &__item {
                width: 90%;
                height: 90%;
            }
        }

        &__item {
            > img {
                width: 100%;
            }
        }
    }
    
}

// KCamp Section
#kcamps {
    .kcamps-logo {
        display: flex;
        justify-content: center;
        color: #9042E8;

        img {
            margin-inline-start: 0.5em;
            width: 1.5em;
        }
    }    

    .kcamps-cards {
        display: flex;
        justify-content: center;
        margin-top: 4.5em;
        flex-wrap: wrap;
         
        .kcamp-card {
            margin: 1em;
            display: flex;
            flex-direction: column;
            width: 100%;

            // Small (small to medium tablet)
            @media screen and (min-width: 960px) {
                flex: 0 0 46%;
            }

            .card-stats {
                display: flex;
                
                &__item {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    padding: 1em;
                }
        
                &__text {
                    font-weight: bold ; 
                    margin-top: .25em;
                }
                &__icon {
                    margin-inline-end: 1.5em;
                }
            }
        
            &__features {
                background-color: var(--light-gray-color);
                padding: 1.5em;
                flex: 1;

                .feature {
                    display: flex;
                    align-items: center;
                
                    &:not(:last-child) {
                        margin-bottom: 1em;
                    }

                    &__icon {
                        fill: #58CF18;
                        margin-inline-end: 1em;
                    }    
                }    
            }
        } 
    }   
} 